<div class="container">
      <form class="form-signin" (ngSubmit) = "onSignin(f)" #f="ngForm">
        <h2 class="form-signin-heading">Please sign in</h2>
        <div class="form-group">
          <label for="email" class="sr-only" >Email address</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
           pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$' autofocus ngModel required>
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" class="form-control" 
          placeholder="Password" pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' ngModel required>
        </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <span class="help-block"><p>{{resText}}</p></span>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid">Sign in</button>
      </form>

    </div>