<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/checkout.js"></script>
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Checkout</h1>
        <h4>Your Total: {{total}}</h4>
        <div id="charge-error" class="alert alert-danger hidden">
            {{errMsg}}
        </div>
        <form  method="post" id="checkout-form" (ngSubmit)="onSubmit(f)"  #f="ngForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" required name="name" ngModel>
                    </div>
                </div>
                <!--<div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" required name="address">
                    </div>
                </div>-->
                <div class="col-xs-12">
                 <p> Select delivery address </p>
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let address of addresses" id="address">
                      {{address.address_line1}}, {{address.address_line2}}
                      {{address.city}}, {{address.state}}, {{address.zipcode}}
                      <button (click)="onSelectAddress(address.address_id)" class="btn btn-primary">
                        Select Address
                      </button>
                    </li>
                  </ul>
                  <a (click)="onAddAddress()">Or, add another address</a>
                </div>

                <hr>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="cardName">Card Holder Name</label>
                        <input type="text" id="cardName" name="cardName" class="form-control" required ngModel>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="cardNumber">Credit Card Number</label>
                        <input type="text" id="cardNumber" name="cardNumber" class="form-control" required ngModel>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="expiryMonth">Expiration Month</label>
                                <input type="text" id="expiryMonth" name="expiryMonth" class="form-control" required ngModel>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="expiryYear">Expiration Year</label>
                                <input type="text" id="expiryYear" name="expiryYear" class="form-control" required ngModel>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="cvc">CVC</label>
                        <input type="text" id="cvc" class="form-control" name="cvc" ngModel required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!f.valid">Buy now</button>
            
        </form>
    </div>
</div>

