<!--<div class="row">
  <div class="col-xs-10">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let order of orders">
        <div class="col-sm-5">{{order['order_id']}}</div>
        <div class="col-sm-2">{{order['products']}}</div>
        <div >{{order['date']}}</div>
        <div >{{order['status']}}</div>
      </li>
    </ul>
  </div>
</div>-->

<div class="row">
    <div class="col-xs-10">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let order of orders">

                <div class="col-sm-1">{{order['order_id']}}</div>
                <div class="col-sm-5">{{order['products']}}</div>
                <div class="col-sm-2">{{order['date']}}</div>
                <div >{{order['status']}}</div>
                

            </li>
        </ul>
    </div>
</div>