<div class="container" >
    <div class="row" *ngFor="let ad of addresses">
        <form class="form-horizontal" role="form" (ngSubmit) = "onEditAddress(f)" #f="ngForm">
            <fieldset>
                <!-- Address form -->
        
                <h2>Address</h2>
                <input hidden id="address_id" name="address_id" [(ngModel)]="ad.address_id" placeholder="{{ad.address_id}}" value="{{ad.address_id}}">
                <!-- address-line1 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 1</label>
                    <div class="controls">
                        <input id="address_line1" name="address_line1" type="text" placeholder="{{ad.address_line1}}"
                        class="input-xlarge" value="{{ad.address_line1}}" [(ngModel)]="ad.address_line1">
                    </div>
                </div>
                <!-- address-line2 input-->
                <div class="control-group">
                    <label class="control-label">Address Line 2</label>
                    <div class="controls">
                        <input id="address_line2" name="address_line2" type="text" placeholder="{{ad.address_line2}}"
                        class="input-xlarge" value="{{ad.address_line2}}" [(ngModel)]="ad.address_line2">
                    </div>
                </div>
                <!-- city input-->
                <div class="control-group">
                    <label class="control-label">City / Town</label>
                    <div class="controls">
                        <input id="city" name="city" type="text" placeholder="{{ad.city}}" class="input-xlarge" value="{{ad.city}}" [(ngModel)]="ad.city">
                    </div>
                </div>
                <!-- region input-->
                <div class="control-group">
                    <label class="control-label">State / Province / Region</label>
                    <div class="controls">
                        <input id="state" name="state" type="text" placeholder="{{ad.state}}" value="{{ad.state}}" [(ngModel)]="ad.state" class="input-xlarge" >
                    </div>
                </div>
                <!-- postal-code input-->
                <div class="control-group">
                    <label class="control-label">Zip / Postal Code</label>
                    <div class="controls">
                        <input id="zipcode" name="zipcode" type="text" placeholder="{{ad.zipcode}}" value="{{ad.zipcode}}" [(ngModel)]="ad.zipcode"
                        class="input-xlarge" >
                    </div>
                </div>
                <!-- phone input-->
                <div class="control-group">
                    <label class="control-label">Phone Number</label>
                    <div class="controls">
                        <input id="phone" name="phone" type="text" placeholder="{{ad.phone}}" value="{{ad.phone}}" [(ngModel)]="ad.phone"
                        class="input-xlarge" >
                    </div>
                </div>
                <hr>
                <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" value="Edit Address">
                    <span></span>
                    <span class="help-block"><p>{{resText}}</p></span>
                    <!--<input type="reset" class="btn btn-default" value="Cancel" (click)="onCancel()">-->
                </div>

            </fieldset>
        </form>
    </div>
</div>