<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Dr. Bombay</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
        <li routerLinkActive="active"><a routerLink="/cart">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!authService.isAuthenticated()">
          <li><a routerLink="/signin">Login</a></li>
          <li><a routerLink="/signup">Register</a></li>
        </ng-template>
        <!--<li><a routerLink="/signin">Login</a></li>
        <li><a routerLink="/signup">Register</a></li>-->

          <!--*ngIf="authService.isAuthenticated()"-->
        <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
          <a style="cursor: pointer;" class="dropdown-toggle" role="button" appDropdown>Manage User<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/profile" style="cursor: pointer;">Profile</a></li>
            <li><a (click)="onLogout()" style="cursor: pointer;">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>