<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Dr. Bombay</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/products">Products</a></li>
        <li routerLinkActive="active"><a routerLink="/cart">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button" appDropdown>Manage<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/signin" style="cursor: pointer;">Login</a></li>
            <li><a routerLink="/signup" style="cursor: pointer;">Register</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>