<div class="row">
  <div class="col-xs-10">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let order of orders">
        
        <div >
          <li class="dropdown" appDropdown>
            <a style="cursor: pointer;" class="dropdown-toggle" role="button" appDropdown>
              <span> {{order['status']}}<span class="caret"></span></span></a>
            <ul class="dropdown-menu">
              <li><a (click)="selectItem(order['order_id'], 0)" style="cursor: pointer;">Order Placed</a></li>
              <li><a (click)="selectItem(order['order_id'], 1)" style="cursor: pointer;">Order Processed</a></li>
              <li><a (click)="selectItem(order['order_id'], 2)" style="cursor: pointer;">Order Shipped</a></li>
              <li><a (click)="selectItem(order['order_id'], 3)" style="cursor: pointer;">Order Delivered</a></li>
            </ul>
          </li>
        </div>
        <div class="col-sm-1">{{order['order_id']}}</div>
        <div class="col-sm-3">{{order['products']}}</div>
        <div class="col-sm-2">{{order['date']}}</div>
        <div>{{order['address_line1']}}, {{order['address_line2']}}, {{order['city']}}</div>
      </li>
    </ul>
  </div>
</div>