<div class="container">
    <h1>Profile Information</h1>
  	<hr>
	<div class="row">
      <!-- edit form column -->
      <div class="col-md-9 personal-info" >
        <div class="alert alert-info alert-dismissable" [hidden]="f.valid">
          <a class="panel-close close" data-dismiss="alert">×</a> 
          <i class="fa fa-coffee"></i>
          Passwords don't match. Please re-enter
        </div>

        <h3>Personal info</h3>
        
        <form class="form-horizontal" role="form" (ngSubmit) = "onEditProfile(f)" #f="ngForm">
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Jane" name="first_name" id="first_name" ngModel required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="Bishop" name="last_name" id="last_name" ngModel required>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" value="janesemail@gmail.com" name="email" id="email" ngModel pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$'>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333" required name="password" id="password" ngModel pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}'>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">Confirm password:</label>
            <div class="col-md-8">
              <input class="form-control" type="password" value="11111122333" required name="password_confirmation" ngModel>
            </div>
          </div>
          <a (click)="onAddAddress()" style="cursor: pointer"> + Add address + </a>
          <!--<button class="btn btn-primary" type="submit">Add Address</button>-->
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <input type="submit" class="btn btn-primary" value="Save Changes" [disabled]="!f.valid">
              <span></span>
              <input type="reset" class="btn btn-default" value="Cancel" (click)="onCancel()">
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
<hr>